*{
    margin: 0;
    padding: 0rem;
    font-family: monospace;
}

.page {
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        'h h h'
        's m m'
        'f f f';
    width: 100vw;
    height: 100vh;

}

.header{
    grid-area: h;
    background-color: #DB504a;
}

.side{
    grid-area: s;
    background-color: #334259;
}

.main{
    grid-area: m;
    background-color: #6E8783;
}

footer{
    grid-area: f;
    background-color: #DB504a;
}

.navbar{
    display: inline-flex;
    flex-direction: row;
    font-size: 3rem;
    margin-right: 2rem;
    color: #E5E5DC;
    list-style-type: none;
}

.introduction{
    font-size: 1em;
    list-style-type: circle;
    margin-left: 1em;
}

.photo{
    max-width: 25%;
    max-height: auto;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 25px;
}